.data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/data/machine.png") no-repeat fixed top;
    background-size: 100% 100vh;
    padding-bottom: 40px;
    color: white;
}

.data > h2 {
    color: white;
    padding: 30px 0;
}

.data__advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 30px auto;
}

.data__advantages__elem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 260px;
    text-align: center;
    padding: 20px;
}

.data__number {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 20px;
}

.data__number + hr {
    width: 100%;
    border: 1px solid #3d3d3d;
    margin-bottom: 20px;
}

.data__advantages__description {
    line-height: 1.5rem;
    width: 90%;
    font-size: 15px;
}